@font-face {
    font-family: "Helvetica";
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    src: url("http://fonts.cdnfonts.com/css/helvetica-neue-9");
}

body {
    font-family: Helvetica, sans-serif;
}

html {
    margin: 0px;
}

.concern {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.sl {
    padding-right: 10px;
}

.model {
    width: 25px;
}

.colon {
    width: 5px;
}

.description {
    width: 30px;
}

.certificate,
.challan {
    margin-left: 50px;
    margin-top: 192px;
}
.margin_right {
    margin-right: 20px;
}

.table_first_page td {
    padding-bottom: 5px;
}
h1,
h2,
p,
h3,
span {
    margin: 0px;
    padding: 0px;
}
.margin {
    margin-bottom: 0px;
}
.certify {
    padding: 10px 0px;
}
.all_code {
    margin-left: 50px;
    padding: 25px 0px;
}
.all_code span {
    padding-right: 25px;
}
.colon {
    padding: 0 10px;
}
.delivery_challan {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

.remarks {
    border: 1px solid black;
    margin-bottom: 10px;
    height: 116px;
}

.remarks > p {
    padding: 10px;
}
.remarks p {
    padding: 5px;
}

.remarks div {
    margin-left: 150px;
}
.foot_note {
    padding-top: 15px;
}
.please {
    margin-top: 35px;
    margin-bottom: 10px;
}
